div {
  border: 20px solid white; 
                          
  display: flexbox;
  min-width: 2cm; 
  min-height: 2cm; 
  border-radius: 100%; 
  
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
#red{
  border-top-color: #f00;
  min-width: 2cm; 
  min-height: 2cm; 
  border-radius: 100%; 
  
}
#orange{
  border-top-color: #ffa500;
  min-width: 2cm; 
  min-height: 2cm; 
  border-radius: 100%; 
  
}
#yellow{
  border-top-color:#ff0;
}
#green{
  border-top-color:#00bc3f;
}
#blue{
  border-top-color:#06f; 
}
#indigo{
  border-top-color: #8a2be2; 
}
#violet{
  border-top-color: #d300c9
}
}
